* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
img {
    width: 220px;
    height: 250px;
}
.container {
    padding: 10px;
}
.box {
    margin-top:50px;
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 220px;
    box-shadow: 2px 2px 10px;
}
a {
    text-decoration: none;
    color:whitesmoke;
    padding:5px;
    color:gold
}
.detail {
    padding:10px 10px;
    display: flex;
    align-items: center;
    background-color: green;
    justify-content: space-between;
    color:white;
    font-weight: bold;
}
.row {
    display: flex;
    gap:20px;
}
#pixel 
{
    padding:15px;
}
.student_data_container {
    margin-top:50px;
}
table {
    width: 500px;
    text-align: center;
    border-collapse: collapse;
}

table , tr ,td ,th
{
    border:1px solid black;
    padding: 5px;
}
.std_button 
{
  border: none;
  background-color:greenyellow;
  padding: 10px 12px;
  width: 100%;
}