* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


h2 {
    margin-left: 100px;
}

.form-box {
    margin-top:50px;
    background-color:yellow;
    border: 1px solid lime;
    width: 350px;
    height: 380px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow:  2px 2px 10px rgb(205, 188, 188);

}
.form-box h3 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
    background-color: greenyellow;
    padding: 10px 5px;
}
input 
{
    width: 90%;
    height: 45px;
    padding: 0px 10px;
    border: 1px solid gray;
    font-size: 20px;
    border-radius: 5px;
}
input:focus {
    /* border: 1px solid yellowgreen; */
    outline: 1px  solid blue;
    border: none;
}
.form-box button 
{
    height: 35px;
    border: none;
    color:white;
    background-color: yellowgreen;
    font-size: 20px;
    padding: 16px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
/* --------------Expand Para------------------- */
section {
    padding: 25px;
}
#hiddenPara
{
   display: none;
}

.content-box
{
  width: 450px;
  font-size: 20px;
  text-align: center;
  padding:25px;
  background-color: aquamarine;
  box-shadow:  2px 2px 10px rgb(205, 188, 188);
}

/* -----------Table Styling--------------------- */
.student_data_container
{
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.tableEditer
{
    border: 1px solid black;
    width: 450px;
    font-size: 20px;
    padding: 10px ;
}
.tableEditer h3 
{
    text-align: center;
}

table {
    width: 450px;
    border-collapse: collapse;
    text-align: center;
}
table ,th ,td 
{
    border: 1px solid black;
    padding: 10px;
}
.row 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:10px
}
.tableEditer input 
{
    width: 56%;
    height: 35px;
}
#student-table button 
{
    width: 100%;
    border: none;
    background-color: greenyellow;
    color:white;
    padding: 14px 16px;
}

.add-button 
{
    color:green;
    padding:10px 40px;
}

.display-box-button 
{
 /* background-color: red; */
 display:flex;
 justify-content: space-around;
}