* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.form-box {
    border: 1px solid lime;
    width: 350px;
    height: 350px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 20px;
}

.form-box {
border: 1px solid red;
width: 100%;
display: flex;
flex-flow: column;
text-align: center;
background-color:yellow;
}
.form-box h3 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
    background-color: greenyellow;
    padding: 10px 5px;
}
input 
{
    width: 95%;
    height: 35px;
    padding: 0px 10px;
    border: 1px solid gray;
}
input:focus {
    /* border: 1px solid yellowgreen; */
    outline: 1px  solid blue;
    border: none;
}
.form-box button 
{
    height: 35px;
    border: none;
    color:white;
    background-color: yellowgreen;
    font-size: 20px;
    padding: 16px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}