table {
    border-collapse: collapse;  
}
th,td 
{
    border:1px solid black;
    padding: 10px;
    text-align: center;
}
input 
{
    height: 30px;
}
button 
{
    width: 80px;
    padding: 10px 14px;
}
#myform 
{
    padding:10px 0px;
}