 
*
{
box-sizing: border-box;
padding:0px;
margin: 0px;
}

.container 
{
    display: flex;
    flex-flow: column;
    gap:10px;
}

button {
    padding:10px 12px;
    border:1px solid gray;
    background-color: greenyellow;
    color:black;
    font-weight: bold;
    box-shadow: 0px 0px 2px;
    border-radius: 2px;
}
input 
{
    height: 35px;
    padding:2px 0px;
    font-size: 18px;
    width: 170px;
}